<div>

    <h1>
        This is body
    </h1>
    <table>
        <tr>
            <th>Roll No</th>
            <th>Name</th>
            <th>Grade</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Aakash</td>
            <td>A+</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Dushyant</td>
            <td>A+</td>
        </tr>
    </table>
    {{message}}
    
    <ul>
        <li *ngFor="let city of city_list">
            {{city}}
        </li>
    </ul>
</div>